---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    <a href="https://drive.google.com/file/d/1n1FWk228rSPTy-0kmURULK9ydCEQ44ES/view?usp=sharing" class="custom-link" target="_blank">Click here</a> to view my resume!
    <br>
    <p></p>
  </div>

  <style>
  .custom-link {
      color: blue;
      text-decoration: underline;
  }

  .custom-link:visited {
      color: blue;
      text-decoration: underline;
  }
  </style>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Boston University"
      subtitle="August 2023 to December 2025, Computer Science"
    />
    <TimeLineElement
      title="University of La Verne"
      subtitle="January 2021 to May 2023, Business Administration"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Logistic Assistant Internship"
      subtitle="From Sep 2021 to Jun 2022 at Myanmar Foreign Economic And Technology Cooperation Co., Ltd, Yangon, Myanmar"
    >
      • Communicated weekly with international suppliers and buyers on prices, network, and materials <br>
      • Assisted the accounting team by processing high-volume orders and ensuring accurate shipping and delivery <br>
      • Organized and handled all documents, contracts, and order slips through Excel to streamline data management and ensure efficient record-keeping
    </TimeLineElement>
    <TimeLineElement
      title="Marketing Internship"
      subtitle="From April 2020 to Aug 2021 at Bagan Soft Drinks, Yangon, Myanmar"
    >
      • Led the strategic repackaging of products by leveraging customer research and distributor feedback, resulting in enhanced product presentations that aligned closely with customer preferences and market trends <br>
      • Negotiated with vendors resulting in more brand awareness throughout the region <br>
      • Created and presented a prizes and reward marketing campaign for customers which increased sales by 16%
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>JavaScript</li>
    <li>JAVA</li>
    <li>HTML/CSS</li>
    <li>noSQL</li>
    <li>SQL</li>
    <li>React</li>
    <li>Node.js</li>
    <li>Express.js</li>
    <li>Flask</li>
    <li>Django</li>
    <li>MongoDB</li>
    <li>Pandas</li>
    <li>Git</li>
    <li>PostgreSQL</li>
  </ul>
</BaseLayout>
