---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Personal Projects</div>
  </div>

  <HorizontalCard
    title="PlateCritique"
    img="/screenshot_plate1.png"
    desc="Food Critique website, it's a fullstack application deployed on railway. Used React for frontend, Express and Node.js for backend, and MongoDB for database"
    url="https://platecritique.up.railway.app/"
    badge="NEW"
  />
  <HorizontalCard
    title="Calculator App"
    img="/calculator.png"
    desc="Simple calculator using JavaScript HTML/CSS"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Reddit Space Bot"
    img="/space_bot.png"
    desc="Developed a Reddit bot that autonomously posts the latest NASA news and images with key developments in space exploration and scientific discoveries"
    url="https://github.com/Amyat103/Reddit_Space_Bot"
  />
  <HorizontalCard
    title="Job Scraper"
    img="/job_scraper.png"
    desc="Created a specialized automated program to extract and scrapes job listings from indeed.com to streamline the search process and assist job seekers in the job market"
    url="https://github.com/Amyat103/Job_Scraper"
    badge=""
  />
  <div class="divider my-0"></div>
</BaseLayout>
